body {
	margin: 0;
	font-size: 14px;
	font-family: sans-serif;
}

h2 {
	font-weight: 100;
}

.container {
	max-width: 900px;
	margin: auto;
	padding: 15px;
}
.image {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 200px;
}
.image-one {
	position: relative;
	background: url(../img/1.jpg) center no-repeat;
	background-size: cover;
	
	
}
.image-one:hover::after {
	
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);  
		
}


	






.image-two {
	position: relative;
	background: url(../img/2.jpg) center no-repeat;
	background-size: cover;
	
}

.image-two:hover::after {
	
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); 

}


.image-three {
	position: relative;
	background: url(../img/3.jpg) center no-repeat;
	background-size: cover;
}
.image-three:hover::after {
	
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); 

}
.image-four {
	position: relative;
	background: url(../img/4.jpg) center no-repeat;
	background-size: cover;
	
}
.image-four:hover::after {
	
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); 

}

.button-one {
	border: none;
	font-weight: 700;
	font-size: 14px;
 color: white;
 padding: .8em 1em calc(.8em + 3px);
 border-radius: 3px;
 background: rgb(64,199,129);

 transition: 0.2s;
}
.button-one:hover {
background-color: red;
border: 5px solid grey;
border-radius: 91px;
color: orange;

}

.button-two {
 display: inline-block;
 color: white;
 padding: .5em 2em;
 border: none;
 border-width: 2px 0;
 border-style: solid none;
 border-color: #FDBE33 #000 #D77206;
 border-radius: 6px;
 background: linear-gradient(#F3AE0F, #E38916) #E38916;
 transition: 0.2s;
}


.button-two:hover{
	color: gold;;
	
}

