@import "fonts";
@import "global";

// .main {
//   background-image: url(../images/hero-bg.png);
// }

*{
  box-sizing: border-box;

  
}

svg {
  display: block;
}
.main video {
  margin: 0 auto;
  width: 1600px;
  height: 749px; 
  left: 0;
  right: 0;
  top: 0;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.container {
  width: 1202px;
  margin: 0 auto;
}
.container__main {
  border-bottom: 1px solid #000000;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 63px;
}
#header-logo{
width:164px;
height:30px;
position:absolute;
top:59px;
left:200px;
-moz-transition: transform 1s; 
-webkit-transition: transform 1s;  
-ms-transition: transform 1s;  
-o-transition: transform 1s;  
transition: transform 1s;  

}

.header-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "helvetica";
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  & li {
    cursor: pointer;
    position: relative;
    list-style: none;
    &::after {
      content: "";
      width: 0%;
      height: 4px;
      background-color: rgba(255, 254, 254, 0.8);
      position: absolute;
      bottom: -5px;
      right: 0%;
      transition: all 0.4s cubic-bezier(0.97, 0.46, 0.83, 0.67);
    }
    &:hover::after {
      left: 0%;
      width: 100%;
      border-radius: 30px;
    }

    & + li {
      margin-left: 60px;
    }
  }
}
.header-title {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 47px;
  line-height: 55px;
  margin-top: 252px;
  padding-bottom: 242px;
  color: #ffffff;
}

.achievements {
  display: flex;
  font-family: "SF Pro Display";
}
.empty {
  width: 50%;
  height: 100%;
}
.hero {
  width: 600px;
}
.hero-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 300;
  margin: 40px 0 49px 0;
  & span {
    font-weight: 500;
  }
}
.hero-achiev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 94px;
  width: 545px;
}
.about-us {
  width: 75px;
  & span {
    font-size: 40px;
    line-height: 48px;
    display: block;
  }
}

.awards-title {
  font-size: 44px;
  line-height: 53px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    bottom: -10px;
    left: 0%;
    animation: mirror 2s cubic-bezier(0.97, 0.46, 0.83, 0.67) 1.2s;
  }
}

@keyframes mirror {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.awards-list {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0 20px 0;

  & span {
    font-weight: 300;
  }
}
.award-list__hidden {
  display: none;

  &.active {
    display: block;
    padding-bottom: 230px;
    
  }
}


.award-list__show-more {
  cursor: pointer;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 200px;

  &.active {
    display: none;
  }
}

.hidde-list {
  cursor: pointer;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  padding-top: 20px;
}

.section-black {
  background-color: #171717;
  font-family: "SF Pro Display";
}

.projects {
  color: #ffffff;
}
.projects-title {
  font-size: 44px;
  line-height: 53px;
  font-weight: 300;
  padding: 205px 0 100px 0;
  border-bottom: 1px solid #ffffff;
  & span {
    font-weight: 500;
  }
}
.projects-list {
  padding-top: 100px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 100px;
}
.projects-list__box {
  & + .projects-list__box {
    margin-left: 329px;
  }
}
.box-items {
  font-size: 16px;
  line-height: 32px;
  font-weight: 100;
  max-width: 414px;
  margin-bottom: 60px;

  & span {
    display: block;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    padding-bottom: 15px;
  }
}
.box-items__transparency {
  padding-left: 35px;
  & span {
    color: #7f7f7f;
    display: block;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 15px;
  }
}

.projects-see-all {
  padding: 60px 0 150px 0;

  .button {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/arrow-right.png);
      background-position: center;
      background-repeat: no-repeat;
      padding-left: 30px;
      width: 43px;
      height: 16px;
      transform: translateY(-50%);
      top: 50%;
    }
  }
}

.services {
  color: #ffffff;
  margin-bottom: 220px;
}

.services-title {
  font-size: 44px;
  line-height: 53px;
  padding: 150px 0 20px 0;
}
.services-items {
  display: flex;
}
.services-box {
  border-top: 1px solid #ffffff;
  width: 442px;
  height: 100%;
}
.services-box__click {
  width: 50%;
  margin-left: 162px;
}
.study-product {
  font-size: 24px;
  line-height: 31px;
  display: inline-block;
  margin: 40px 0 30px 30px;
  font-weight: 400;
  cursor: pointer;
}
.services-box__list {
  list-style: none;

  & li {
    cursor: pointer;
    color: #8c8c8c;
  }
  & li:not(:last-child) {
    margin-bottom: 25px;
  }
}
.box-study-product {
  display: none;
}
.box-study-product {
  &.active {
    padding-top: 116px;
    display: block;
    & img {
      display: block;
    }
    & span {
      display: inline-block;
      font-size: 36px;
      line-height: 43px;
      padding: 28px 0 10px 0;
    }
    & p {
      font-size: 24px;
      line-height: 29px;
      font-weight: 100;
      width: 500px;
    }
  }
}
.box-svg {
  display: block;
}

.circle-one {
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: animdash 3s 1.5s;
  animation-fill-mode: forwards;
}
.circle-two {
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  animation: animdash 2s 1.5s;
  animation-fill-mode: forwards;
}
.circle-three {
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  animation: animdas 3s 0.3s;
  animation-fill-mode: forwards;
}

@keyframes animdas {
  to {
    stroke-dasharray: 0;
  }
}
@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

.box-startups {
  display: none;
}
.box-startups {
  &.active {
    display: block;
    padding-top: 116px;

    & img {
      display: block;
    }
    & span {
      display: inline-block;
      font-size: 36px;
      line-height: 43px;
      padding: 28px 0 10px 0;
    }
    & p {
      font-size: 24px;
      line-height: 29px;
      font-weight: 100;
      width: 500px;
    }
  }
}

.circle-fall {
  stroke-dashoffset: 155;
  stroke-dasharray: 155;
  animation: fall 2s;
  animation-fill-mode: forwards;
}

@keyframes fall {
  to {
    stroke-dashoffset: 0;
  }
}
.box-app-mobile {
  display: none;
}

.box-app-mobile {
  &.active {
    display: block;
    padding-top: 116px;

    & img {
      display: block;
    }
    & span {
      display: inline-block;
      font-size: 36px;
      line-height: 43px;
      padding: 28px 0 10px 0;
    }
    & p {
      font-size: 24px;
      line-height: 29px;
      font-weight: 100;
      width: 500px;
    }
  }
}

.mobile-square {
  stroke-dasharray: 190;
  stroke-dashoffset: 190;
  animation: square-mob 3s forwards;
}

@keyframes square-mob {
  to {
    stroke-dashoffset: 0;
  }
}

.box-corporate {
  display: none;
}
.box-corporate {
  &.active {
    display: block;
    padding-top: 116px;

    & img {
      display: block;
    }
    & span {
      display: inline-block;
      font-size: 36px;
      line-height: 43px;
      padding: 28px 0 10px 0;
    }
    & p {
      font-size: 24px;
      line-height: 29px;
      font-weight: 100;
      width: 500px;
    }
  }
}
.corpor-svg {
  transform: translateY(1000px);
  animation: corpor 0.9s forwards;
}

@keyframes corpor {
  to {
    transform: translateY(0);
    transform: translateX(0);
  }
}

.corpor-svg-one {
  transform: translateX(1000px);
  animation: corpor 0.5s forwards;
}

.corpor-svg-two {
  transform: translateY(-1000px);
  animation: corpor 0.7s forwards;
}

.box-commerce {
  display: none;
}
.box-commerce {
  &.active {
    display: block;
    padding-top: 116px;

    & img {
      display: block;
    }
    & span {
      display: inline-block;
      font-size: 36px;
      line-height: 43px;
      padding: 28px 0 10px 0;
    }
    & p {
      font-size: 24px;
      line-height: 29px;
      font-weight: 100;
      width: 500px;
    }
  }
}

.commerce-svg-one {
  transform: translate(-12px, 12px);
  animation: commer-doble 1.2s forwards;
}
.commerce-svg-two {
  transform: translate(-24px, 24px);
  animation: commer-doble 1.3s forwards;
}

@keyframes commer-doble {
  to {
    transform: translate(0, 0);
  }
}

.box-media {
  display: none;
}
.box-media {
  &.active {
    display: block;
    padding-top: 116px;

    & img {
      display: block;
    }
    & span {
      display: inline-block;
      font-size: 36px;
      line-height: 43px;
      padding: 28px 0 10px 0;
    }
    & p {
      font-size: 24px;
      line-height: 29px;
      font-weight: 100;
      width: 500px;
    }
  }
}

.media-rotate {
  transform: rotateY(360deg);
  transform: translate();
  animation: med-rot 2s forwards;
}
.media-rotate-one {
  transform: translate(0, 0);
  animation: med-rot-one 2s forwards;
}
.media-rotate-two {
  transform: translate(-19px, 5px);
  animation: med-rot-two 2s forwards;
}
.media-rotate-three {
  transform: translate(19px, 5px);
  animation: med-rot-three 2s forwards;
}

@keyframes med-rot {
  to {
    transform: rotateY(0);
  }
}
@keyframes med-rot-one {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0px, -19px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes med-rot-two {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-19px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes med-rot-three {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(19px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.box-promo-site {
  display: none;
}
.box-promo-site {
  &.active {
    display: block;
    padding-top: 116px;

    & img {
      display: block;
    }
    & span {
      display: inline-block;
      font-size: 36px;
      line-height: 43px;
      padding: 28px 0 10px 0;
    }
    & p {
      font-size: 24px;
      line-height: 29px;
      font-weight: 100;
      width: 500px;
    }
  }
}
.promo-svg {
  transform: translateX(25px);
  animation: prom-left 1.5s forwards;
}
.promo-svg-one {
  transform: translateX(12px);
  animation: prom-left 1.7s forwards;
}
@keyframes prom-left {
  to {
    transform: translateX(0);
  }
}

.box-longreads {
  display: none;
}
.box-longreads {
  &.active {
    display: block;
    padding-top: 116px;

    & img {
      display: block;
    }
    & span {
      display: inline-block;
      font-size: 36px;
      line-height: 43px;
      padding: 28px 0 10px 0;
    }
    & p {
      font-size: 24px;
      line-height: 29px;
      font-weight: 100;
      width: 500px;
    }
  }
}
.long-svg {
  transform: translate(0, -1000px);
  animation: long-way 3s forwards;
}
@keyframes long-way {
  10% {
    transform: translate(0px, 9px);
  }
  20% {
    transform: translate(0px, -9px);
  }
  30% {
    transform: translate(0px, 8px);
  }
  40% {
    transform: translate(0px, -2px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.box-lendings {
  display: none;
}
.box-lendings {
  &.active {
    display: block;
    padding-top: 116px;

    & img {
      display: block;
    }
    & span {
      display: inline-block;
      font-size: 36px;
      line-height: 43px;
      padding: 28px 0 10px 0;
    }
    & p {
      font-size: 24px;
      line-height: 29px;
      font-weight: 100;
      width: 500px;
    }
  }
}

.lend-svg {
  transform: scale(4);
  animation: lend-scale 2s forwards;
}
.lend-svg-one {
  transform: scale(4);
  animation: lend-scale 1.7s forwards;
}
.lend-svg-two {
  transform: scale(4);
  animation: lend-scale 1.5s forwards;
}

@keyframes lend-scale {
  to {
    transform: scale(1);
  }
}

.box-branding {
  display: none;
}
.box-branding {
  &.active {
    display: block;
    padding-top: 116px;

    & img {
      display: block;
    }
    & span {
      display: inline-block;
      font-size: 36px;
      line-height: 43px;
      padding: 28px 0 10px 0;
    }
    & p {
      font-size: 24px;
      line-height: 29px;
      font-weight: 100;
      width: 500px;
    }
  }
}

.box-graphics {
  display: none;
}
.box-graphics {
  &.active {
    display: block;
    padding-top: 116px;

    & img {
      display: block;
    }
    & span {
      display: inline-block;
      font-size: 36px;
      line-height: 43px;
      padding: 28px 0 10px 0;
    }
    & p {
      font-size: 24px;
      line-height: 29px;
      font-weight: 100;
      width: 500px;
    }
  }
}

.graph-svg {
  transform: translateX(-48px);
  animation: graph-back 1.7s forwards;
}
@keyframes graph-back {
  0% {
    transform: translateX(-48px);
  }
  50% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(-48px);
  }
}

.graph-svg-one {
  transform: translateX(-48px);
  animation: graph-back-one 1.7s forwards;
}
@keyframes graph-back-one {
  0% {
    transform: translateX(-48px);
  }
  50% {
    transform: translateX(-60px);
  }
  75% {
    transform: translateX(-36px);
  }
  100% {
    transform: translateX(-48px);
  }
}

.graph-svg-two {
  transform: translateX(-48px);
  animation: graph-back-two 1s forwards;
}
@keyframes graph-back-two {
  0% {
    transform: translateX(-48px);
  }
  50% {
    transform: translateX(-60px);
  }

  100% {
    transform: translateX(-48px);
  }
}

.image-room {
  background-color: #202020;
  width: 100%;
  height: 775px;
}

.tasks {
  color: #ffffff;
}
.task-hire {
  font-size: 29px;
  line-height: 53px;
  padding: 200px 0 100px 0;
  border-bottom: 1px solid #ffffff;
  & h2 {
    margin: 0;
    font-weight: 300;
    & span {
      font-weight: 500;
    }
  }
}
.tasks-decision {
  font-size: 24px;
  line-height: 29px;

  display: flex;
  align-items: baseline;
  padding: 50px 0 60px 0;
  border-bottom: 1px solid #ffffff;
}

.tasks-bussines {
  width: 600px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
}
.tasks-projects {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  width: 600px;
}
.find-out {
  padding: 45px 0 100px 0;
  position: relative;
}
.find-out-button {
  position: absolute;
  left: 50%;
  overflow: hidden;

  &:hover {
    .btn__active {
      position: absolute;
      animation: anim-btn 0.3s ease forwards;
      & a {
        color: #000000;
        display: block;
        font-weight: 600;
      }
    }
    .btn__passive {
      display: none;
    }

    border: none;
  }
}

.discover-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 60px;
  background-color: #f9f9f9;
}

.btn {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  width: 269px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #171717;
  border: 1px solid rgba(#f9f9f9, 0.3);
  cursor: pointer;
  position: relative;

  & a {
    text-decoration: none;
    font-weight: 400;
    color: #f9f9f9;
    padding: 3px 5px;
  }
}

.clients {
  color: #f9f9f9;
  display: flex;
  align-items: baseline;
  padding: 100px 0 100px 0;
}
.clients-title {
  font-size: 44px;
  line-height: 53px;
  font-weight: 500;
  width: 600px;
}

.clients-list {
  min-height: 675px;
  width: 160px;
  & a {
    font-size: 28px;
    line-height: 56px;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
    display: block;
    &:hover {
      color: #7f7f7f;
    }
  }
  & + .clients-list {
    margin-left: 200px;
  }
}

.go-work {
  font-size: 48px;
  line-height: 59px;
  font-weight: 500;
  color: #101010;
  display: flex;
  align-items: center;
  height: 430px;
}
.go-work-title {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/arrow-right-black.png);
    width: 60px;
    height: 30px;
    transform: translateY(-50%);
    top: 50%;
    margin-left: 330px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.section-grey {
  background-color: #f3f3f3;
  font-family: "SF Pro Display";
}

.learn-title {
  font-size: 44px;
  line-height: 53px;
  font-weight: 500;
  padding: 200px 0 100px 0;
  border-bottom: 1px solid #000000;
  & span {
    font-weight: 600;
  }
}
.learn-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0 60px 0;
  border-bottom: 1px solid #000000;
}
.learn-text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  min-width: 545px;

  & span {
    font-weight: 600;
  }
  & p {
    width: 543px;
  }
}
.learn-image {
  & img {
    transition: all 0.8s;
    cursor: pointer;
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.start {
  padding: 150px 0 130px 0;
  text-align: center;
}
.start-mail {
  font-size: 34px;
  color: #101010;
  font-weight: 600;
}
.start-project {
  margin-top: 30px;
}
.start-project-button {
  border: 1px solid #000000;
  position: relative;
  font-size: 17px;
  line-height: 20px;
  background-color: #f3f3f3;
  overflow: hidden;
  & a {
    color: #101010;
  }

  &:hover {
    .btn__active {
      position: absolute;
      animation: anim-btn 0.3s ease forwards;

      & a {
        display: block;
        animation: anim-opas 2s cubic-bezier(0.1, 0.95, 1, 1) forwards;
      }
    }
    .btn__passive {
      display: none;
    }

    border: none;
  }
}

.start-button-active {
  background-color: #000000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    color: #ffffff;
    opacity: 0.2;
    display: none;
  }
}

@keyframes anim-opas {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anim-btn {
  0% {
    top: 60px;
    transform: rotate(10deg);
  }
  10% {
    top: 50px;
    transform: rotate(8deg);
  }
  20% {
    top: 40px;
    transform: rotate(5deg);
  }
  30% {
    top: 30px;
  }
  40% {
    top: 20px;
  }
  50% {
    top: 15px;
  }
  75% {
    top: 7px;
  }
  100% {
    top: 0;
    transform: rotate(0, 0);
  }
}

.social {
  display: flex;
  align-items: baseline;
}
.social-link {
  padding-right: 70px;
  font-size: 17px;
  line-height: 34px;
  font-weight: 600;
  & a {
    display: block;
    color: #101010;
    text-decoration: none;

    &:hover {
      color: #7f7f7f;
    }
  }
}

.social-skills {
  & p {
    display: block;
    font-size: 17px;
    color: #8c8c8c;
    font-weight: 400;
    line-height: 34px;
  }
}
