@media (max-width: 1290px) {
  .projects {
    margin-left: 40px;
  }
  .footer-wrapper{
    justify-content: space-around;
  }
}

@media (max-width: 1220px) {
  .empty {
    display: none;
  }
  .achievements {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .services-box__click {
    width: 40%;
    margin-left: 40px;
  }
  .services-box {
    margin-left: 15px;
  }
  .services-title {
    margin-left: 15px;
  }

  .learn-title {
  
    width: 88%;
  }
  .learn-box{
    width: 88%;

  }
  .learn-image{
    & img{
      width: 500px;
      height: 250px;
      margin-right: 160px;
    }
  }
}
@media (max-width: 1210px) {
  .header {
    justify-content: space-around;
  }
  .header-title {
    font-size: 40px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects-title {
    font-size: 30px;
    line-height: 43px;
  }

  .projects-list__box + .projects-list__box {
    margin-left: 280px;
  }

  .tasks-hire {
    font-size: 23px;
    width: 90%;
  }
  .tasks-decision {
    width: 90%;
  }
}
@media (max-width: 1110px) {
  .clients-title {
    width: 500px;
  }

  .clients-list {
    & + .clients-list {
      margin-left: 150px;
    }
  }
}

@media (max-width: 1100px) {
  .header {
    justify-content: space-evenly;
  }
  .header-title {
    font-size: 35px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-menu {
    font-size: 15px;
    & li {
      &::after {
        height: 3px;
      }
    }
  }
  .tasks-hire {
    font-size: 23px;
    width: 80%;
  }
  .tasks-decision {
    width: 80%;
  }
}

@media (max-width: 1060px) {
  .learn-title {
    width: 79%;
  }
  .learn-box{
    width: 79%;
  }
  .learn-text {
  font-size: 19px;
  }
  .learn-image{
    & img{
      width: 400px;
      height: 200px;
      margin-right: 250px;
    }
  
  }
  .footer-wrapper{
    align-items: baseline;
  }
 .social{
   margin-left: -455px;
 }
}



@media (max-width: 1036px) {
  .container__main {
    border: none;
  }
  .header {
    justify-content: flex-start;
  }
  .header-title {
    font-size: 35px;
    line-height: 45px;
    display: flex;
    justify-content: flex-start;
  }
  .header-menu {
    font-size: 15px;
    padding-left: 240px;
  }
  .go-work-title {
    position: relative;
    &::after {
      margin-left: 200px;
    }
  }
}
@media (max-width: 1000px) {
  .projects-title {
    width: 575px;
  }
  .projects-list__box + .projects-list__box {
    margin-left: 45px;
  }
}

@media (max-width: 975px) {
  .services-box__click {
    width: 40%;
    margin-left: 40px;
  }
  .services-box {
    margin-left: 15px;
    width: 350px;
    border-top: none;
  }
  .services-title {
    margin-left: 15px;
  }
  .tasks-hire {
    font-size: 21px;
    width: 70%;
  }
  .tasks-decision {
    width: 70%;
  }
  .tasks-bussines {
    font-size: 26px;
  }
  .tasks-projects {
    font-size: 22px;
  }
  .clients-title {
    width: 400px;
  }

  .clients-list {
    & + .clients-list {
      margin-left: 100px;
    }
  }
  .learn-title {
    font-size: 38px;
    width: 71%;
  }
  .learn-box{
    width: 71%;
  }

  .learn-text {
    font-size: 16px;
    }
    .learn-image{
      & img{
        width: 300px;
        height: 150px;
        margin-right: 435px;
      }
    
    }

   
   .start{
     margin-left: -455px;
   }
   .social{
     margin-left: -900px;
   }
}

@media (max-width: 933px) {
  .header {
    justify-content: flex-start;
  }
  .header-title {
    font-size: 35px;
    line-height: 45px;
    display: flex;
    justify-content: flex-start;
  }
  .header-menu {
    font-size: 15px;
    padding-left: 140px;
  }
  .achievements {
    justify-content: flex-start;
    margin-left: 100px;
  }
}
@media (max-width: 910px) {
  .go-work {
    font-size: 40px;
  }
  .go-work-title {
    &::after {
      margin-left: 100px;
    }
  }
}

@media (max-width: 880px) {
  .services-box {
    width: 240px;
  }
  .find-out-button {
    left: 27%;
  }
  .learn-title {
    font-size: 33px;
    width: 61%;
  }
  .learn-box{
    width: 61%;
  }

  .learn-text {
    min-width: 475px;
    & p{
      width: 470px;
    }
    }
    .learn-image{
      & img{
        width: 250px;
        height: 125px;
        margin-right: 435px;
      }
    
    }
}
@media (max-width: 840px) {
  .header {
    justify-content: flex-start;
  }
  .header-title {
    max-width: 60%;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    justify-content: center;
  }
  .header-menu {
    font-size: 15px;
    padding-left: 40px;
  }
  .box-study-product.active span {
    font-size: 23px;
  }
  .box-study-product.active p {
    font-size: 15px;
    width: 365px;
  }
  .box-startups.active span {
    font-size: 23px;
  }
  .box-startups.active p {
    font-size: 15px;
    width: 365px;
  }
  .box-app-mobile.active span {
    font-size: 23px;
  }
  .box-corporate.active span {
    font-size: 23px;
  }
  .box-commerce.active span {
    font-size: 23px;
  }
  .box-media.active span {
    font-size: 23px;
  }
  .box-promo-site.active span {
    font-size: 23px;
  }
  .box-longreads.active span {
    font-size: 23px;
  }
  .box-lendings.active span {
    font-size: 23px;
  }
  .box-branding.active span {
    font-size: 23px;
  }
  .box-graphics.active span {
    font-size: 23px;
  }

  .box-app-mobile.active p {
    font-size: 15px;
    width: 365px;
  }
  .box-corporate.active p {
    font-size: 15px;
    width: 365px;
  }
  .box-commerce.active p {
    font-size: 15px;
    width: 365px;
  }
  .box-media.active p {
    font-size: 15px;
    width: 365px;
  }
  .box-promo-site.active p {
    font-size: 15px;
    width: 365px;
  }
  .box-longreads.active p {
    font-size: 15px;
    width: 365px;
  }
  .box-lendings.active p {
    font-size: 15px;
    width: 365px;
  }
  .box-branding.active p {
    font-size: 15px;
    width: 365px;
  }
  .box-graphics.active p {
    font-size: 15px;
    width: 365px;
  }
  .tasks-hire {
    font-size: 20px;
    width: 60%;
  }
  .tasks-decision {
    width: 60%;
  }
  .tasks-bussines {
    font-size: 24px;
  }
  .tasks-projects {
    font-size: 20px;
  }
}

@media (max-width: 820px) {
  .clients-title {
    width: 300px;
    font-size: 40px;
  }

  .clients-list {
    &.clients-list a {
      font-size: 24px;
    }

    & + .clients-list {
      margin-left: 50px;
    }
  }
}

@media (max-width: 760px) {
  .box-items span {
    font-size: 30px;
  }
  .box-items {
    position: relative;
    font-size: 13px;
  }


  .learn-title {
    font-size: 30px;
    width: 55%;
  }
  .learn-box{
    width: 55%;
  }

  .learn-text {
    min-width: 405px;
    & p{
      width: 400px;
    }
    }
    .learn-image{
      & img{
        width: 250px;
        height: 125px;
        margin-right: 435px;
      }
    
    }
    .footer-wrapper{
      display: block;
      margin-left: 100px;
    }
   .start{
    padding: 75px 0 55px 0;
     margin-left: 0px;
     display: inline-block;
   }
   .social{
     margin-left: 0px;
   }

}

@media (max-width: 732px) {
  .header {
    justify-content: flex-start;
  }
  .header-title {
    max-width: 55%;
    font-size: 23px;
    line-height: 35px;
  }
  .header-menu {
    padding-left: 10px;
    & li {
      & + li {
        margin-left: 35px;
      }
    }
  }

  .hero {
    width: 400px;
  }
  .about-us {
    width: 90px;
  }
  .hero-achiev__wrapper {
    & + .hero-achiev__wrapper {
      margin-left: 40px;
    }

    .about-us {
      & + .about-us {
        margin-left: 40px;
      }
    }
  }
  .tasks-hire {
    font-size: 19px;
    width: 50%;
  }
  .tasks-decision {
    width: 50%;
  }
  .tasks-bussines {
    font-size: 22px;
  }
  .tasks-projects {
    font-size: 18px;
  }
}
@media (max-width: 710px) {
  .go-work {
    font-size: 33px;
  }
  .go-work-title {
    &::after {
      background-image: url(../images/arrow-right-black__media.png);
      margin-left: 30px;
      height: 20px;
    }
  }
}
@media (max-width: 670px) {
  .learn-title{
    font-size: 23px;
    width: 35%;
    line-height: 37px;
    margin-left: 10px;
  }
  .learn-box{
    display: block;
    margin-left: 10px;
    width: 35%;
  }


}

@media (max-width: 650px) {
  .services-title {
    margin-left: 200px;
  }
  .services-box__media {
    display: none;
  }

  .slick-slider {
    margin: 0 0 100px 210px;
  }

  .slick-slide {
    outline: none;

    svg {
      display: none;
    }
  }

  .slick-current {
    .svg-box__wrapper {
      height: 50%;
    }
    svg {
      display: block;
      width: 150px;
      height: 150px;
      margin: 30px 0;
    }
    span {
      font-size: 24px;
      line-height: 25px;
    }
    p {
      font-size: 18px;
      line-height: 22px;
    }
    .services-box__wrapper {
      height: 575px;
    }
  }
  .slick-dots button {
    display: none;
  }
  .slick-dots {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    margin: 0 35px;
  }
  .slick-dots li {
    opacity: 0.1;
  }
  .slick-dots .slick-active {
    opacity: 1;
  }

  .clients-title {
    width: 200px;
    font-size: 37px;
  }

  .clients-list {
    &.clients-list a {
      font-size: 21px;
    }

    & + .clients-list {
      margin-left: 25px;
    }
  }
}

@media (max-width: 641px) {
  .header {
    justify-content: flex-start;
    position: relative;
  }
  .header-logo {
    &.hide {
      display: none;
    }
  }
  .header-title {
    max-width: 55%;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    margin-left: -100px;
  }

  .header-menu__media {
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: absolute;
    left: 190px;
    top: 103px;

    .header-menu__media-items {
      width: 40px;
      height: 5px;
      background-color: #ffffff;
      opacity: 0.7;
      border-radius: 20px;
      margin-left: 300px;

      & + .header-menu__media-items {
        margin-top: 8px;
      }
      &:hover {
        transition: all 0.6s ease;
        opacity: 1;
      }
    }
  }
  .header-menu {
    position: relative;
    display: block;
    justify-content: center;
    & li {
      opacity: 0.7;
      font-size: 20px;
      &:nth-child(1) {
        transform: translateX(-1000px);
      }
      &:nth-child(2) {
        transform: translateX(-1000px);
      }
      &:nth-child(3) {
        transform: translateX(-1000px);
      }
      &:nth-child(4) {
        transform: translateX(-1000px);
      }
      & + li {
        margin-left: 0;
        margin-top: 8px;
      }
      &:hover {
        transition: all 0.6s ease;
        opacity: 1;
      }
      &:hover::after {
        content: "";
        width: 0;
        height: 0;
      }
    }

    &.active {
      & li {
        &:nth-child(1) {
          animation: anim-menu 0.9s ease forwards;
          transform: translate(80px, 0);
        }
        &:nth-child(2) {
          animation: anim-menu 0.7s ease forwards;
          transform: translate(80px, 0);
        }
        &:nth-child(3) {
          animation: anim-menu 0.5s ease forwards;
          transform: translate(80px, 0);
        }
        &:nth-child(4) {
          animation: anim-menu 0.3s ease forwards;
          transform: translate(80px, 0);
        }
      }
    }
  }
}

@keyframes anim-menu {
  0% {
    transform: translate(0px, -1000px);
  }

  100% {
    transform: translate(80px, 0);
  }
}
@media (max-width: 620px) {
  .tasks-hire {
    font-size: 14px;
    width: 35%;
  }
  .tasks-decision {
    width: 35%;
  }
  .tasks-bussines {
    font-size: 18px;
  }
  .tasks-projects {
    font-size: 14px;
  }
  .btn {
    font-size: 14px;
    width: 240px;
    height: 50px;
  }
  .find-out-button {
    left: 11%;
  }
}

@media (max-width: 610px) {
  .projects-list {
    display: block;
  }
  .projects-list__box + .projects-list__box {
    margin-left: 170px;
  }
  .projects-list__box {
    margin-left: 170px;
  }
  .projects-title {
    width: 400px;
  }
}

@media (max-width: 550px) {
  .header-menu__media {
    left: 110px;
  }
  .header-menu {
    transform: translateX(-35px);
  }
  .hero-title {
    font-size: 25px;
    line-height: 33px;
  }
  .hero {
    width: 400px;
  }
  .about-us {
    width: 90px;
  }
  .hero-achiev {
    flex-direction: column;
    align-items: center;
  }
  .hero-achiev__wrapper {
    & + .hero-achiev__wrapper {
      margin-top: 30px;
      margin-left: 0;
    }

    .about-us {
      margin-right: 50px;
      & + .about-us {
        margin-left: 0px;
      }
    }
  }
  .achievements {
    margin-left: 10px;
  }
}
@media (max-width: 520px) {
  .clients {
    display: block;
  }
 

  .clients-title {
    margin-bottom: 2px;
  }

  .clients-list {
    display: inline-block;
    

    & + .clients-list {
      margin-left: -120px;
    }
  }
  .go-work {
    font-size: 25px;
  }
  .go-work-title {
    &::after {
      margin-left: 10px;
      height: 10px;
    }
  }
  .footer-wrapper{
    display: block;
    margin-left: 10px;
  }
}

@media (max-width: 465px) {
  .services-title {
    margin-left: 85px;
  }
  .header-menu__media {
    left: 60px;
  }
  .header-menu {
    transform: translateX(-60px);
  }
  .header-title {
    font-size: 15px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .awards-title {
    font-size: 30px;
  }
  .awards-list {
    font-size: 13px;
  }

  .projects-list__box + .projects-list__box {
    margin-left: 0px;
  }
  .projects-list__box {
    margin-left: 0px;
  }
  .projects-title {
    width: 255px;
  }
  .projects-title {
    font-size: 20px;
    line-height: 35px;
  }
  .slick-slider {
    margin: 0 0 100px 70px;
  }
  .slick-dots {
    margin: 0 10px;
  }
}
@media (max-width: 440px) {
  .tasks-hire {
    display: none;
  }
  .tasks-decision {
    display: block;
    width: 25%;
  }
  .tasks-bussines {
    font-size: 18px;
  }
  .tasks-projects {
    font-size: 14px;
    width: 100%;
  }

  .find-out-button {
    left: 1%;
  }
  .learn-title{
    font-size: 23px;
    width: 25%;
    line-height: 37px;
  }
  .learn-box{
    margin-left: 10px;
    width: 25%;
  }
  .learn-text p {
    width: 300px;
}

.start{
  margin-left: 20px;
}
.social-link{
  display: flex;
}
.social-link__wrapper{
  padding-bottom: 45px;
  margin-left: 20px;
  &+.social-link__wrapper{
    margin-left: 100px;
  }
}
.social-skills{
display: none;
}

}

@media (max-width: 413px) {
  .header-logo {
    right: -60px;
    position: relative;
  }
  .header-menu__media {
    left: 10px;
  }

  .header-menu {
    position: relative;
    animation: none;
    & li {
      top: 200px;
      right: 50px;
      opacity: 0;
    }
    &.active {
      & li {
        opacity: 1;
      }
    }
  }
  .hero {
    width: 290px;
  }
  .go-work{
    font-size: 20px;
  }
  .go-work-title {
    
    &::after {
      margin-left: -5px;
    }
  }
}

@media (max-width: 367px) {
  .header-title {
    position: relative;
    right: -165px;
    width: 20%;
  }
  .header-logo {
    right: -10px;
    position: relative;
  }
  .header-menu__media {
    left: -60px;
  }
  .header-menu {
    position: relative;
    animation: none;
    & li {
      top: 200px;
      right: 100px;
      opacity: 0;
    }
    &.active {
      & li {
        opacity: 1;
      }
    }
  }
}
